<!DOCTYPE html>

<html>
    <head>
        <Title>Flask APP</Title>
        <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
    </head>
    <body>
        <header>
            <h1>Gonzlo's Website</h1>
            <nav>
                <ul class="menu">
                    <li>
                        <a href="{{ ulr_for('home') }}"> Go to Home</a>
                    </li>
                    <li>
                        <a href=""{{ ulr_for('about') }}"">What is all about</a>
                    </li>
                </ul>
            </nav>
        </header>
        <div class="container">
            {%block content%}
            {%endblock%}
        </div>
    </body>
</html>